body {
    font-family: Arial, sans-serif;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content-container {
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.content-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 2px solid #fff
}

#load-more {
    padding: 15px 35px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#load-more:hover {
    background-color: #222;
}

.Buttons {
    padding: 15px 35px;
    background-color: #111;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

.Buttons:hover {
    background-color: #222;
    border: 1px solid white;
    transition: 0.5s;
}